<h1>Freelancers</h1>

<%# Basic check to ensure we have data %>
<% if @freelancers && @freelancers.length > 0 %>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialty</th>
      </tr>
    </thead>

    <tbody>
      <% @freelancers.each do |freelancer| %>
        <tr>
          <td><%= freelancer.first_name %></td>
          <td><%= freelancer.last_name %></td>
          <td><%= freelancer.specialty %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>No freelancers were found.</h3>
<% end %>